# place this file under /lib/systemd/system/
# start service: sudo systemctl start deconz-sonos
# auto-start service at boot: sudo systemctl enable deconz-sonos
#
[Unit]
Description=deconz-sonos: Control your Sonos with Zigbee over the deCONZ gateway.
After=deconz.service

[Service]
ExecStart=node /home/pi/node_modules/deconz-sonos/app.js
Restart=always
User=pi
Group=pi
EnvironmentFile=/home/pi/.gcprc
WorkingDirectory=/home/pi/node_modules/deconz-sonos/

[Install]
WantedBy=multi-user.target